%input-shared {
  height: 4rem;
  margin-bottom: 1.5rem;
  border: none;
  border-bottom: 3px solid #635f5f;
  background-color: #ffd7a7;
  color: #585353;
  font-size: 2rem;
  font-weight: 500;
}

%input-shared:focus {
  outline: 0;
}

%btn-shared {
  height: 4rem;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  font-size: 2rem;
  font-weight: 500;
}
